:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  position: relative;
}

.bgImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.ImageContainer{
  display: flex;
  flex-direction: column;
  max-height: 100vh ;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}


footer h2{
  font-size: 3rem;
}

footer h1{
  font-size: 2rem;
  font-weight: 200;
}


footer div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer button{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button i{
  font-size: 1.4rem;
}

footer button:hover{
  opacity: 0.7;
}

.datePicker{
  display: flex;
  flex-direction: row;
}

.bgGradient{
  inset: 0;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, #030615, rgba(255,255,255,0));
}

.sidebar{
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgOverlay{
  position: absolute;
  inset: 0;
  background-color: #030615;
  opacity: 0.6;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  background: #030615;
}

.sidebarContents h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

.sidebarContents div{
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem 0;
  font-size: 1.4rem;
}

.sidebarContents button:hover {
  opacity: 0.7;
}

.sidebar h2{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.descTitle{
  font-size: 1.6rem;
  padding-bottom: 10px;
} 

.desc{
  font-size: medium;
}

.loadingState{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  
}

.loadingState i{
  opacity: 0.2;
  font-size: 3rem ;
  animation: spin 2s linear infinite;
}

input[type="date"] {

  padding: 10px 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  
  .sidebar{
    position: relative;
    inset: unset;
    min-width: 30%;
    max-height: 100vh;
    box-shadow: 0 0 40px 1px #030615;
  }

  .sidebarContents{
    margin: unset;
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }
}